.cookie-notice {
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 420px;
    /* opacity: 0;
    transition: all 2s; */

    transition: all 0.75s;
    transform: translate(0, 150%);
    /* width: 100%; */
    z-index: 999999;
    background: #252525;
    border: 2px solid #fff;
    padding: 40px;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.35);
}
.cn-active {
    transform: translate(0, 0);
    animation: settings 0.75s ease-in-out;
    /* bottom: 20px;
    animation: slide 0.75s ease-in-out; */
    opacity: 1;
}

.cn-body {
    margin: 0 0 30px 0;
    line-height: 1.4;
    color: #fff;
    font-size: 1em;
}
    .cn-body a {
        text-decoration: underline;
        color: inherit;
    }
    .cn-body a:hover {
        color: inherit;
    }
.cn-header {
    font-size: 1.4em;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}
.cn-button {
    font-size: 1.1em;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background: #fff;
    color: #252525;
    padding: 12px 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}
    .cn-button:hover { opacity: 0.9; }
    .cn-primary {
        /* margin-right: 5%; */
        font-weight: bold;
        margin-bottom: 10px;
    }
    .cn-secondary {
        color: #fff;
        cursor: pointer;
        text-decoration: underline;
        /* margin-right: 5%; */
    }
    .cn-secondary:hover { color: #fff; }

.cookie-settings-button-wrapper {
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 999999;
    transition: all 0.25s;
}
.cs-active {
    opacity: 1;
    pointer-events: all;
    /* transform: translate(0, 0); */
}
.cs-hide {
    opacity: 0;
    pointer-events: none;
    /* transform: translate(150%, 0); */
}
.cs-show {
    opacity: 1;
}
.cookie-settings-button {
    /* z-index: 2; */
    /* position: relative; */
    background: #252525;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    padding: 10px;
    font-weight: bold;
    line-height: 1;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
}
/* Settings Panel */

.cookie-settings-overlay {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
    z-index: 99998;
}
.cookie-settings {
    background: #fff;
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
    z-index: 99999;
    position: fixed;
    right: 20px;
    /* bottom: -100%; */
    /* opacity: 0; */
    bottom: 52px;
    transition: all 0.5s;
    transform: translate(0, 150%);
    /* bottom: 0; */
    /* position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.35);
}
.cs-body {
    font-size: 14px;
}
.cs-line {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.cs-active {
    /* bottom: 52px; */
    transform: translate(0, 0);
    // animation: settings 0.5s ease-in-out;
    // animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes settings {
    0% { transform: translate(0, 150%); }
    70% { transform: translate(0, -10%); }
    100% { transform: translate(0, 0); }
}

.cs-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 1.5em;
    line-height: 1;
}

.cs-header {
    font-size: 1.4em;
    line-height: 1;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.switch-input {
    display: none;
}
.switch-label {
    position: relative;
    display: inline-block;
    min-width: 112px !important;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    margin: 10px 0 !important;
    padding: 4px 0 4px 44px !important;
    font-size: 1rem;
}
.switch-label.disabled {
    opacity: 0.5;
    cursor: auto !important;
}
.switch-label:before, .switch-label:after {
    content: "";
    position: absolute;
    margin: 0;
    outline: 0;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}
.switch-label:before {
    left: 0;
    width: 32px;
    height: 16px;
    background-color: #9E9E9E;
    border-radius: 8px;
}
.switch-label:after {
    box-sizing: border-box;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #FAFAFA;
    border-radius: 50%;
    border: 1px solid #9E9E9E;
    /* box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084); */
}
.switch-input:checked + .switch-label:before {
    background-color: #A5D6A7;
    background-color: #4CAF50;
}
.switch-input:checked + .switch-label:after {
    /* background-color: #4CAF50;
    border-color: #fff; */
    border-color: #4CAF50;
    -ms-transform: translate(150%, -50%);
    -webkit-transform: translate(150%, -50%);
    transform: translate(100%, -50%);
}

@media (max-width: 800px) {

    .cookie-notice {
        width: 100%;
        right: 0;
        bottom: 0;
        padding: 20px;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
    }
    .cn-body {
        margin-bottom: 20px;
    }
    .cn-body, .cn-button {
        font-size: 0.9em !important;
    }
    .cn-secondary {
        font-size: 0.9em !important;
    }

    .cookie-settings {
        max-width: 100%;
        right: 0;
        bottom: 0;
    }
    .cookie-settings-button-wrapper {
        right: 0;
    }
    .cookie-settings-button {
        /* border-width: 1px; */
        border-right: 0;
        /* border-left: 0; */
        /* width: 100%; */
        /* text-align: center; */
    }

}